@use "sass:color";

/* Variables */
$text-color: #fff;
$error-message: #ef4444;

/* Header */
.auth-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  position: relative;

  .auth-title {
    color: $text-color;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 0 1rem;
  }

  .chevron-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    cursor: pointer;
    top: 8px;
    left: -5px;
  }
}

/* Subtitle */
.auth-subtitle {
  color: color.adjust($text-color, $lightness: 20%);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}


/* Error Message */
.error-message {
  color: $error-message;
  font-size: 0.875rem;
  text-align: center;
  margin: 0.5rem 0;
}

/* Auth Links */
.auth-links {
  text-align: center;

  p {
    color: color.adjust($text-color, $lightness: 30%);
    margin: 1rem 0 0 0;
  }
}